/* Desktop navbar */
#TopMenu {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 58px;
  background-color: #222;
}

.navbar-header{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.navbar .container {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
}

.navbar .container, .nav {
  align-items: center;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 200;
  color: #ffffff;
  padding: 0;
}

.navbar .btn-group {
  margin-left: auto;
}

.navbar .btn {
  -webkit-appearance: button-bevel;
}

.nav li {
  padding: 0 15px 0 15px;
  font-size: 14px;
}

.nav li, .navbar .btn-group a {
  font-size: 14px;
}

.nav li a {
  color: darkgray;
  text-decoration: none;
  padding: 15px 0 15px 0;
}

.nav li a:hover {
  color: white;
  text-decoration: none;
}

.nav li li a, .nav li li a:hover {
  color: #333;
}

.nav li li {
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav li li:hover {
  background-color: #428bca;
}

.nav li li a:hover {
  color: white;
}

.nav .dropdown-menu {
  margin-top: 10px;
  width: max-content;
}

/* Required to prevent from interfering with mobile styling */
@media (min-width: 1201px) {

  .dropdown:hover .dropdown-menu {
    display: block;
  }

}

@media (max-width: 1200px) {

  /* Mobile navbar */
  #TopMenu {
    max-height: 400px;
    overflow-y: scroll;
    height: auto;
  }

  .navbar, .navbar .container {
    padding: 0;
  }

  .navbar .container {
    background-color: #222;
  }

  .navbar-header {
    width: 100vw;
  }

  .navbar hr {
    width: 100vw;
    border: 1px solid #2b2b2b;
    margin: 0;
  }

  .navbar-brand {
    padding: 4px 15px 0 15px;
  }

  .navbar-toggler {
    float: right;
    width: 44px;
    height: 34px;
    margin: 8px 15px 8px 0;
    padding: 4px 0 4px 0;
  }

  .navbar-toggler-icon {
    width: 100%;
    height: 100%;
  }

  .navbar .container, .nav {
    align-items: baseline;
  }

  .nav {
    margin: 7.5px 0 30px 0;
  }

  .nav li {
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    color: #c1c1c1;
    width: 100%;
  }

  .nav li.last {
    margin-bottom: 0;
  }

  .nav li a {
    padding-left: 15px;
  }

  .nav li ul.dropdown-menu {
    background-color: #222;
    border-style: none;
    padding: 5px 0 0 0;
    width: 100%;
    margin-top: 10px;
  }

  .nav li li a {
    color: #999;
  }

  .nav li .dropdown-menu li {
    padding: 5px 10px 5px 10px;
    margin: 0;
  }

  .nav li.show {
    background-color: #080808;
    color: white;
  }

  .navbar .btn-group {
    padding: 0 0 20px 15px;
  }
}

.btn-custom {
    color: white;
    background-color: #db6963;
    border-color: #db6963;
}
.prominent-item{
  font-size: large;
  color: lightblue !important;
}
